body{
    color: var(--bs-body-color);
    font-family: 'Neue Haas Unica',sans-serif;
}

.header a{
    text-decoration: none;
    color: inherit;
    flex: 1;
    font-size: 1.1rem;
}

.header nav{
    display: flex;
    gap:15px
}

.header{
    width: 100%;
    max-width: 740px;
    margin: 6px auto 24px;
    padding: 8px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#colourtoggle{
    appearance: none;
    border: transparent;
    border-radius: 5px;
    color: inherit;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding: 9px;
    cursor: pointer;
    background: var(--bs-toggle);
}

#colourtoggle svg{
    display: none;
}

[data-bs-theme="dark"] {
    --bs-body-color: #fff;
    --bs-heading-color: #fff;
    --bs-body-bg: #14182c;

    --bs-btn-bg: #e6e6e6;
    --bs-toggle: #242b4f;

    --bs-bodycard-bg: #fff;
    --bs-card-color: #14182c;
  }
[data-bs-theme="light"] {
    --bs-body-color: #161e40;
    --bs-heading-color: #161e40;
    --bs-body-bg: #fff;

    --bs-btn-bg: #161e40;
    --bs-toggle: #e6e6e6;

    --bs-bodycard-bg: #161e40;
    --bs-card-color: #fff;
  }
  
main{
    padding: 38px 32px 32px 32px;
    width: 100%;
    max-width: 740px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap
}

h1{
    font-size: 2.5rem;
    font-weight: 550;
    letter-spacing: -0.1rem;
    line-height: 1.15;
}

h2{
    font-weight: 550;
    margin: 14px 0;
}

hr {
    width: 100%;
    border: 1px solid ;
    margin: 0 12px;
}

.pfimg {
  border-radius: 15px; 
  overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to a new line on smaller devices */
}

.left-column {
    flex: 1; /* Expand to fill available space */
    max-width: 400px;
}
  
.right-column {
    flex: 1; /* Expand to fill available space */
    display: flex; /* Use flexbox for the right column */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.right-column img{
    width: 10rem;
}

@media (max-width: 768px) {
    /* Apply the following styles only on devices with a maximum width of 768px */
    .container {
        flex-direction: column; /* Change flex direction to column on small screens */
    }

    .left-column,
    .right-column {
      width: 100%; /* Take up full width on smaller devices */
      order: initial; /* Reset the order back to the default */
    }
}

p{
    font-size: 1.3rem;
    line-height: 1.6;
}

.newsec{
    margin: 40px 0 0 0;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: 10px; /* Add margin to create space between the heading and buttons */
}
  
.container button{
    flex-grow: 1;
    padding: 10px 20px; /* Adjust button padding as needed */
    margin: 10px;
    border: none;
    border-radius: 6px;
}

.socbtns{
    margin-top: 30px;
    background: var(--bs-btn-bg);
    color: var(--bs-body-bg);
}

/* PROJECTS PAGE */
.procard{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    gap: 16px;
    color: var(--bs-heading-color);
}

@media screen and (min-width: 40em) {
    /* Apply the following styles only on devices with a maximum width of 768px */
    .procard {
        flex-direction: row;
    }
}

.card-text{
    font-size: 1rem;
}

.card-img-top{
    height: 50%;
}

/* PROGRESS BARS */

.skill-bars {
    padding: 25px 30px;
    width: 90%;
    background: #fff;
}
  
  .skill-bars .bar {
    margin: 20px 0;
}
  
  .skill-bars .bar:first-child {
    margin-top: 0px;
}
  
  .skill-bars .bar .info {
    margin-bottom: 5px;
}
  
  @keyframes showText {
    100% {
      opacity: 1;
    }
}
  
  .skill-bars .bar .progress-line {
    height: 5px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
      0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
}
  
  .bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--bs-heading-color);
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
  
  .bar .progress-line.pro1 span {
    width: 92%;
}
  
  .bar .progress-line.pro2 span {
    width: 58%;
}
  
  .bar .progress-line.pro3 span {
    width: 85%;
}

  .bar .progress-line.pro4 span {
    width: 50%;
}
  
  .bar .progress-line.pro5 span {
    width: 80%;
}

.col-sm-4.py-2 {
    text-decoration: none; /* Removes underline */
}
